<h1 class="mb-4 text-center">OrderGenerator: Gerador de Ordens</h1>
<ul class="nav nav-tabs nav-pills justify-content-center">
  <li class="nav-item">
    <button [ngClass]="isBuyOrder? 'nav-link active' : 'nav-link'" (click)="onBuyClickHandler()">Compra</button>
  </li>
  <li class="nav-item">
    <button [ngClass]="isBuyOrder? 'nav-link' : 'nav-link active bg-danger'" (click)="onSellClickHandler()">Venda</button>
  </li>
</ul>
<div class="order d-flex justify-content-center">
  <form class="order-form pt-4 pb-2" [formGroup]="orderForm" (ngSubmit)="onSubmit()">

    <select class="form-select mb-3 stock-input" aria-label="stock-name" formControlName="stockName">
      <option value="PETR4">PETR4</option>
      <option value="VALE3">VALE3</option>
      <option value="VIIA4">VIIA4</option>
    </select>

    <div class="input-group mb-3 quantity-input-group">
      <span class="input-group-text">Quantidade</span>
      <input type="number" class="form-control" min="0" max="100000" aria-label="quantity" formControlName="quantity" required>
    </div>

    <div class="input-group mb-5 price-input-group">
      <span class="input-group-text">R$</span>
      <input type="number" class="form-control" min="0.01" step=".01" max="1000" aria-label="price" formControlName="price" required>
    </div>

    <div class="input-group mb-3 justify-content-center">
      <button type="submit" [disabled]="!orderForm.valid" data-bs-toggle="modal" data-bs-target="#exampleModalCenter" [ngClass]="isBuyOrder? 'btn btn-primary' : 'btn btn-danger'">{{isBuyOrder? 'Comprar' : 'Vender'}}</button>
    </div>

  </form>
</div>

<app-order-history />

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{newOrderResponse?.sucesso ? 'Sucesso!' : 'Erro'}}</h5>
      </div>
      <div class="modal-body">
        <div *ngIf="newOrderResponse?.sucesso">
          Ordem executada com sucesso! Veja abaixo a resposta da requisição:
        </div>
        <div *ngIf="!newOrderResponse?.sucesso">
          Falha ao executar a ordem. Veja abaixo a resposta da requisição:
        </div>
        <div class="response text-center">
          <p><span>sucesso: </span><code>{{newOrderResponse? newOrderResponse.sucesso : ''}}</code></p>
          <p><span>exposicao_atual: </span><code>{{newOrderResponse? newOrderResponse.exposicao_atual : ''}}</code></p>
          <p><span>msg_erro: </span><code>{{newOrderResponse? newOrderResponse.msg_erro : ''}}</code></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
