.carousel {
  width: 740px;
}

.card {
  margin: auto;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card ul li {
  list-style: none;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
    position: inherit;
}
